*.cache
*.data
*.xpr
*.log
*.bld
*.chk
*.cmd_log
*.cxt
*.gise
*.gyd
*.jed
*.lso
*.mfd
*.nga
*.ngc
*.ngd
*.ngr
*.pad
*.pnx
*.prj
*.rpt
*.stx
*.syr
*.tim
*.tspec
*.vm6
*.xst
*.html
*.xrpt
*.err
*_html
*.sld
*.txt
*.qsys
*.csv
*.str
*.mif
*.tar
*.xcix
*.coe
*.sim
*.dbg
*.btree
xst
netgen
iseconfig
xlnx_auto*
_ngo
_xmsgs
component.xml
*.jou
xgui
*.runs
*.srcs
*.sdk
*.zip
.Xil
*_INFO.txt
*_dump.txt
db
*.asm.rpt
*.done
*.eda.rpt
*.fit.*
*.map.*
*.sta.*
*.qsf
*.qpf
*.qws
*.sof
*.rbf
system_qsys_script.tcl
hc_output
hps_isw_handoff
hps_sdram_*.csv
incremental_db
system_bd/
reconfig_mif
*.sopcinfo
*.jdi
*.pin
*.os
*webtalk*
*.xml
*.hw
gui
.timestamp_altera
/library/*/ip/*/*
!/library/*/ip/*/*.xci
!/library/*/rtl/*
ipcache
projects/*/*/*.ip_user_files
projects/*/*/sw_src/*
!projects/*/*/sw_src/main_processing
!projects/*/*/sw_src/standalone_bsp_0
projects/*/*/sw_src/main_processing/*
!projects/*/*/sw_src/main_processing/src
projects/*/*/sw_src/standalone_bsp_0/*
!projects/*/*/sw_src/standalone_bsp_0/*.mss
projects/*/*/tmp/*
!sw_library/*

*.ip_user_files
*gitcommit.h
*Makefile
